<mat-action-list>
  <button mat-list-item>
    <span class="label">Manage Accounts</span>
    <mat-icon>arrow_forward_ios</mat-icon>
  </button>
  <button mat-list-item>
    <span class="label">Tax Documents</span>
    <mat-icon>arrow_forward_ios</mat-icon>
  </button>
  <button mat-list-item>
    <span class="label">Passcode and Touch ID</span>
    <mat-icon>arrow_forward_ios</mat-icon>
  </button>
  <button mat-list-item>
    <span class="label">Notifications</span>
    <mat-icon>arrow_forward_ios</mat-icon>
  </button>
  <button mat-list-item>
    <span class="label">Personal Information</span>
    <mat-icon>arrow_forward_ios</mat-icon>
  </button>
  <button mat-list-item>
    <span class="label">Paperless Settings</span>
    <mat-icon>arrow_forward_ios</mat-icon>
  </button>
  <button mat-list-item>
    <span class="label">Find ATMs</span>
    <mat-icon>arrow_forward_ios</mat-icon>
  </button>
  <button mat-list-item>
    <span class="label">Help</span>
    <mat-icon>arrow_forward_ios</mat-icon>
  </button>
</mat-action-list>
