<div class="rally-budget-card-container">
    <mat-card class="rally-budget-card">
        <div class="budget-header-container">
            <span class="budget-title">{{title}}</span>
            <div class="budget-value-container">
                <div class="remaining-amount-container">
                    <span class="remaining-amount">{{remainingAmount}}</span>
                    <span class="left-text">Left</span>
                </div>
                <span class="slash">/</span>
                <div class="total-amount-container">
                    <span class="total-amount">{{totalAmount}}</span>
                    <span class="total-text">Total</span>
                </div>
            </div>
        </div>
    </mat-card>
</div>