.list-container {
  align-items: center;
  align-self: flex-start;
  background-color: #33333d;
  display: flex;
  height: 68px;
  justify-content: space-between;
  margin-bottom: 8px;
  width: 100%;

  .item-value-container {
    display: flex;

    mat-icon {
      align-self: center;
    }
  }
}
