.list-container {
  align-items: center;
  align-self: flex-start;
  border-bottom-color: #33333d;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  display: flex;
  height: 68px;
  justify-content: space-between;
  margin-bottom: 8px;
  width: 100%;

  .item-value-container {
    display: flex;

    mat-icon {
      align-self: center;
    }
  }
}

.see-all-button {
  width: 100%
}
