<!--The content below is only a placeholder and can be replaced.-->
<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>
    <div class="sidenav-wrapper">
      <a [routerLink]="['/overview']">
        <div class="logo-wrapper">
          <img class="logo" src="assets/logo.png" />
        </div>
      </a>
      <div class="nav-buttons">
        <button
          mat-button
          class="nav-icon"
          routerLinkActive="active-link"
          [routerLink]="['/overview']"
        >
          <mat-icon>pie_chart</mat-icon>
          <div class="label">Overview</div>
        </button>
        <button
          mat-button
          class="nav-icon"
          routerLinkActive="active-link"
          [routerLink]="['/accounts']"
        >
          <mat-icon>attach_money</mat-icon>
          <div class="label">Accounts</div>
        </button>
        <button
          mat-button
          class="nav-icon"
          routerLinkActive="active-link"
          [routerLink]="['/bills']"
        >
          <mat-icon>money_off</mat-icon>
          <div class="label">Bills</div>
        </button>
        <button
          mat-button
          class="nav-icon"
          routerLinkActive="active-link"
          [routerLink]="['/budgets']"
        >
          <mat-icon>bar_chart</mat-icon>
          <div class="label">Budgets</div>
        </button>
        <button
          mat-button
          class="nav-icon"
          routerLinkActive="active-link"
          [routerLink]="['/settings']"
        >
          <mat-icon>settings</mat-icon>
          <div class="label">Settings</div>
        </button>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<router-outlet></router-outlet>
