h1 {
  background-color: blue;
  font-size: 50px;
}

.nav-icon {
  display: block;
  text-transform: uppercase;
  padding: 10px;
  width: 100%;
}

.logo {
  width: 80px;
  padding: 10px;
}

.logo-wrapper {
  padding-bottom: 20px;
}

.sidenav-wrapper,
.nav-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rally-card-container {
  display: flex;
  flex-direction: row;
}

rally-finance-card {
  flex-grow: 1;
}

.main-content {
  height: 100vh;
}
.nav-icon {
  .label {
    visibility: hidden;
  }
  &.active-link {
    .label {
      visibility: inherit;
    }
  }
}

mat-toolbar {
  display: grid;
  grid-template-columns: repeat(5, auto);

  .nav-icon {
    .label {
      display: none;
    }
    &.active-link {
      .label {
        display: inline;
        padding-left: 10px;
      }
    }
  }
}
