h1 {
  background-color: blue;
  font-size: 50px;
}

.nav-icon {
  padding: 0;
  text-transform: uppercase;
}

.logo {
  width: 80px;
  padding: 10px;
}

.logo-wrapper {
  padding-bottom: 20px;
}

.sidenav-wrapper,
.nav-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rally-card-container {
  display: flex;
  flex-direction: row;
}

rally-finance-card {
  flex-grow: 1;
}

.main-content {
  height: 100vh;
}
.nav-icon {
  .label {
    visibility: hidden;
  }
  &.active-link {
    .label {
      visibility: inherit;
    }
  }
}

mat-toolbar {
  justify-content: space-evenly;

  .nav-icon {
    min-width: 0;
    .label {
      display: none;
      letter-spacing: 0.2rem;
    }
    &.active-link {
      .label {
        display: inline;
        padding-left: 5px;
      }
    }
  }
}
