<div class="login-container">
  <div class="icon-container">
    <img
      width="200"
      alt="Angular Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
    />
  </div>

  <form>
    <mat-form-field appearance="outline">
      <input matInput type="text" matInput placeholder="username" />
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input matInput type="password" matInput placeholder="password" />
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>
  </form>

  <div class="fingerprint-container">
    <div class="fingerprint-icon">
      <mat-icon>fingerprint</mat-icon>
    </div>
    <span>Or Login with Touch ID</span>
  </div>
</div>
