/**
 * Global colors.
 *
 * {@see https://material.io/design/material-studies/rally.html#color}
 */
$rally-green: #1eb980;
$rally-dark-green: #045d56;
$rally-orange: #ff6859;
$rally-yellow: #ffcf44;
$rally-purple: #b15dff;
$rally-blue: #72deff;
/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
